{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de gestión para Recolecciones Borja, S.L.">
    <meta name="author" content="carborgar (https://github.com/carborgar/)">

    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.png" %}"/>

    <title>Recolecciones Borja S.L.</title>

    <!-- CSS files -->
    {% bootstrap_css %}
    <link href="{% static "css/font-awesome-4.7.0.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet"/>

    <!-- JavaScript files -->
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static "js/formValidation/formValidation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/formValidation/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/formValidation/language/es_ES.js" %}"></script>

    <!-- Form media files -->
    {{ form.media }}

    <!-- Extra files -->
    {% block extrahead %} {% endblock %}
</head>

<body>
<section id="wrap">
    <!-- Head -->
    {% include "layout/header.html" %}

    <!-- Body -->
    <main id="content" class="container">
        <section id="messages">
            {% bootstrap_messages %}
        </section>
        {% block content %} {% endblock %}
    </main>
</section>
<!-- Footer -->
{% include "layout/footer.html" %}
<script type="text/javascript">
    $('[data-toggle="validator"]').formValidation({
        locale: 'es_ES',
        framework: 'bootstrap',
        excluded: ':disabled'
    });
    $.each($("option:contains('---------')"), function () {
        $(this).text('Seleccionar...');
    });
    $.each($("[data-help]"), function () {
        $(this).attr("data-toggle", "tooltip");
        $(this).attr("title", $(this).data('help'));
    });
    $("[data-delete]").click(function () {
        return confirm("Vas a borrar " + $(this).data('delete') + ". No se puede recuperar, ¿Estás seguro?");
    });
    $.each($('input, textarea, select').filter(':input:visible').not(':input[type=button], :input[type=submit], :input[type=reset]'), function () {
        var parentFormGroup = $(this).parents('.form-group');
        if ($(this).is(':required')) {
            parentFormGroup.addClass('required');
        }
    });
    $('[data-toggle="tooltip"]').tooltip({placement: 'bottom'});
</script>
</body>
</html>
