html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 65px;
    padding-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 65px;
    background-color: #7E8C8D;
    margin-top: 50px;
    font-size: 14px;
    color: #FFF;
}

.navbar {
    border-radius: 0;
}

.credit {
    margin: 20px 0;
}

.credit a {
    color: #FFF;
}

#content {
    /*padding-top: 60px;*/
}

.form-group.required .control-label:after {
    content: " (*)";
    color: #E74C3C;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }

    .dl-horizontal dt {
        text-align: left;
    }
}

.diggy-pagination > a, .diggy-pagination > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.diggy-pagination > a:hover, .diggy-pagination > span:hover {
    z-index: 3;
    color: #23527C;
    background-color: #EEE;
    border-color: #DDD;
}

.diggy-pagination > .endless_page_current {
    z-index: 2;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.diggy-pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

dd {
    margin: 0 0 5px 0;
}

.page-header {
    border-bottom: 1px solid #EEE;
}

td, th {
    vertical-align: middle;
}

th:last-child, td:last-child {
    text-align: center
}

textarea {
    resize: none;
    max-height: 150px;
}

.chosen-container {
    width: 100% !important;
}

.table tbody > tr > td {
    vertical-align: middle;
}

table > tbody > tr > td > ul {
    margin: 0;
}

.panel-borja {
    border-color: #2C3E50;
    color: #FFF;
}

.panel-borja > .panel-heading {
    background-color: #2C3E50;
}

/* Menu page styles */
.tile-box {
    line-height: inherit;
    display: block;
    position: relative;
    height: auto;
    padding: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid
}

.tile-header {
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
    border: 0 !important;
    background: rgba(255, 255, 255, .2)
}

.tile-header .float-right {
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity:60)
}

.tile-content-wrapper {
    position: relative;
    overflow: hidden;
    padding: 10px
}

.tile-content {
    font-size: 35px;
    text-align: right
}

.tile-content span {
    font-size: 25px;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70)
}

.tile-content-wrapper small {
    font-size: 14px;
    display: block;
    text-align: right;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70)
}

.tile-content-wrapper > .glyph-icon {
    font-size: 35px;
    line-height: 70px;
    position: absolute;
    top: 50%;
    left: 15px;
    height: 70px;
    margin-top: -36px;
    opacity: .3;
    -moz-opacity: .3;
    filter: alpha(opacity:30)
}

.tile-footer {
    display: block;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    color: inherit;
    background: rgba(0, 0, 0, .1)
}

.bg-white .tile-footer {
    border-top-style: solid;
    border-top-width: 1px
}

.tile-footer:hover {
    opacity: .8;
    color: inherit;
    -moz-opacity: .8;
    filter: alpha(opacity:80)
}

.tile-footer .glyph-icon {
    float: right
}

.tile-box-alt .tile-header {
    padding: 10px;
    text-align: center
}

.tile-box-alt .tile-content-wrapper > .glyph-icon {
    font-size: 65px;
    margin-top: -32px
}

.tile-box-shortcut:hover .tile-content-wrapper > .glyph-icon, a.tile-box.btn .tile-content-wrapper > .glyph-icon, a.tile-box.btn .tile-header .float-right {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

a.tile-box.btn:hover .tile-content-wrapper > .glyph-icon {
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70)
}

a.tile-box.btn:hover .tile-header .float-right {
    opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity:90)
}

.tile-content-wrapper .easyPieChart {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 300
}

.tile-box-shortcut .tile-header {
    background: 0 0;
    padding: 0;
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 13px;
    font-weight: 400
}

.tile-box-shortcut .bs-badge {
    left: auto;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, .5)
}

.tile-box-shortcut .tile-content-wrapper {
    padding: 0;
    min-height: 80px
}

.tile-box-shortcut .tile-content-wrapper > .glyph-icon {
    position: absolute;
    left: 15px;
    top: 30px
}

.tile-box-shortcut:hover .tile-content-wrapper > .glyph-icon {
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity:80)
}

.glyph-icon:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: 0 0;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
