{% extends 'layout/base.html' %}
{% block content %}
    <h1>Menú de aplicaciones</h1>
    <div class="row">
        <div class="col-md-4"><a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-success">
            <div class="tile-header">Gestión de facturas</div>
            <div class="tile-content-wrapper"><i class="glyph-icon fa-file-text-o"></i></div>
        </a></div>
        <div class="col-md-4"><a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger">
            <div class="tile-header">Gestión de clientes</div>
            <div class="tile-content-wrapper"><i class="glyph-icon fa-users"></i></div>
        </a></div>
    </div>
{% endblock %}
